# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\wiet\WDI\Kolokwia 20_21\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
